@keyframes moveInLeft{
    /* Start */
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%{
        transform: translateX(1rem);
    }

    /*Finish */
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRigth{
    /* Start */
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }

    80%{
        transform: translateX(-1rem);
    }

    /*Finish */
    100%{
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveInBottom{
    /* Start */
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }

    /*Finish */
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
