/*All elements**/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;

    @include respond(tab-land){
        font-size: 56.25%;
    }

    @include respond(tab-port){
        font-size: 50%;
        overflow-x: hidden;
    }

    @include respond(big-desktop){
        font-size: 75%;
    }

    
}

/* Just body*/
body{
    box-sizing: border-box;
    padding:3rem;

    @include respond(tab-port){
        padding:0;
        overflow-x: hidden;
    }

    @include respond(phone){
       
    }
}
::selection{
    background-color: #5643fa;
    color: $white-color;
}

body::-webkit-scrollbar {
    width: .5em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba($gray-color, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color:$gray-color;
    outline: 1px solid$gray-color;
  }
