.u-center-text{
    text-align: center;
}

.u-margin-botton-big{
    margin-bottom: 8rem;
}

.u-margin-botton-medium{
    margin-bottom: 4rem;
}
.u-margin-botton-small{
    margin-bottom: 1.5rem;
}

.u-margin-top-big{
    margin-bottom: 1.5rem;
}

.u-margin-top-huge{
    margin-bottom: 10rem;
}