{% extends 'master.html'  %}

{% block body %}
<div>
    {{users}}
        <ul>
        {% for fruit in fruits %} 
            <li>{{fruit}}</li>
        </ul>
        {% endfor %}

        {% if 'mango' in fruits %}
            <p>Mango is in the list</p>
        {% endif%}

</div>
{% endblock %}