{% extends 'bootstrap/base.html' %}
<html>
    <head>
        <title>First project</title>
    </head>
    <body>
        {%block content%}
            {% block body %}
            {% endblock %}
        {% endblock %}
        {% include "footer.html" %} 
  
    </body>
</html>