.selector-image{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    &__input{
        position: relative;
        width: 100%;
        height: 100%;
        outline: none;
        min-height: 20rem;
  
        

        &::before{
            content: 'Seleccione un archivo';
            position: absolute;
            left: 0;
            right: 0;
            width: calc(100% - 1.5px * 2) ;
            height: calc(100% - 1.5px * 2) ;
            border: dashed var(--black-color ) 1.5px;
            background-color : var(--input-file);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__preview{
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
            
    }
}