<div class="selector-image">
    <div  *ngIf = "image$">
        <img  [src] = "image$|async"  [ngClass] =  "imagePreviewClass"/>
    </div>
    <input #input type="file"  [id]="id" class="selector-image__input" (input)="OnChangeImage()">
</div>
