<form [formGroup]="formulario" class="editar-form" (ngSubmit)= "submit()">
   
    <app-image-selector id="avatar" formControlName="avatar"  classImage="image-profile"></app-image-selector>

    <app-input-validator 
        label="Nombre" 
        formControlName="nombre" 
        type="text" 
        id="nombre">
        <span class="message message__error" *ngIf="formulario.controls['nombre'].invalid" >
           El nombre es requerido
         </span>
    </app-input-validator>


    <app-input-validator 
        label="Apellido Paterno" 
        formControlName="apellidoPaterno" 
        type="text" 
        id="apellidoPaterno">
        <span class="message message__error" *ngIf="formulario.controls['apellidoPaterno'].invalid && formulario.controls['apellidoPaterno'].dirty" >
        El apellidoPaterno es requerido
        </span>
    </app-input-validator>


    <app-input-validator 
        label="Apellido Materno" 
        formControlName="apellidoMaterno" 
        type="text" 
        id="apellidoMaterno">
        <span class="message message__error" *ngIf="formulario.controls['apellidoMaterno'].invalid && formulario.controls['apellidoMaterno'].dirty" >
        El apellidoMaterno es requerido
        </span>
    </app-input-validator>


    <app-input-validator 
        label="Salario" 
        formControlName="salario" 
        type="number" 
        id="salario">
        <span class="message message__error" *ngIf="formulario.controls['salario'].invalid && formulario.controls['salario'].dirty" >
            El salario es requerido
        </span>
    </app-input-validator>


    <app-input-validator 
        label="Edad" 
        formControlName="edad" 
        type="number" 
        id="edad">
    <span class="message message__error" *ngIf="formulario.controls['edad'].invalid && formulario.controls['edad'].dirty" >
        La edad es requerida
    </span>
    </app-input-validator>


    <app-input-validator 
    label="Telefono" 
    formControlName="telefono" 
    type="number" 
    id="telefono">
    <span class="message message__error" *ngIf="formulario.controls['telefono'].invalid && formulario.controls['telefono'].dirty" >
        La telefono es requerido
    </span>
</app-input-validator>


    <app-input-validator 
    label="Email" 
    formControlName="email" 
    type="email" 
    id="email">
    <span class="message message__error" *ngIf="formulario.controls['email'].invalid && formulario.controls['email'].dirty" >
       El email es invalido
    </span>
    </app-input-validator>


    <app-input-validator 
    label="RFC" 
    formControlName="rfc" 
    type="text" 
    id="email">
    <span rfc="message message__error" *ngIf="formulario.controls['rfc'].invalid && formulario.controls['rfc'].dirty" >
       El RFC es invalido
    </span>
    </app-input-validator>


    <button type="submit" class="btn btn--success">
        Guardar
    </button>

</form>
