.editar-form{
    background-color: var( --primary-color-item );
    max-width: 90vw;
   
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem 3rem;
    align-content: space-between;
    transition:  all .3s;

    & > *{
        margin-bottom: 3rem;
    }
}

