.row{
    max-width: $grid-with;
    margin: 0 auto;

    @include respond(tab-port){
        max-width: 50rem;
    }


    @include respond(phone){
        max-width: 40rem;
    }
    

    @include clearfix;
 
    &:not(:last-child){
        margin-bottom: $gutter-vertical ;
        @include respond(tab-port){
            margin-bottom: $gutter-vertical-small;
        }
    }

   

    [class^="col-"]{
        float: left;
        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }

        @include respond(tab-port){
            width: 100%!important;
            margin-bottom: $gutter-vertical-small;
        }
    }

    .col-1-of-2{
        width: calcColumn(2, $gutter-horizontal)
    }

    .col-1-of-3{
        width: calcColumn( 3, $gutter-horizontal);
    }

    .col-1-of-4{
        width: calcColumn( 4, $gutter-horizontal);
    }

    .col-2-of-3{
        width: calc( 2 * #{calcColumn( 3, $gutter-horizontal)} + #{$gutter-horizontal});
    }

    .col-3-of-4{
        width: calc( 3 * #{calcColumn( 4, $gutter-horizontal)} + 2 * #{$gutter-horizontal});
    }

    .col-2-of-4{
        width: calc( 2 * #{calcColumn( 4, $gutter-horizontal)} +   #{$gutter-horizontal});
    }
}