.header{
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($primary-color-light, .7),
        rgba($primary-color-dark, .7)
    ),
        url('../img/hero-small.jpg');

    @media only screen and (min-resolution:"192dpi") and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio : 2) and (min-width: 37.5em),
    only screen and (min-width: 75em) {
        background-image: linear-gradient(
            to right bottom, 
            rgba($primary-color-light, .7),
            rgba($primary-color-dark, .7)
        ),
            url('../img/hero.jpg');
    }
    
    background-size: cover;
    background-position: top;
    --webkit-clip-path: polygon(0 0, 100% 0,100% 75%,0 100%);
    clip-path: polygon(0 0, 100% 0,100% 75%,0 100%);

    @include respond(tab-port){
        webkit-clip-path: polygon(0 0, 100% 0,100% 85%,0 100%);
        clip-path: polygon(0 0, 100% 0,100% 85%,0 100%);
    }
    

    position: relative;

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    &__logo{
        height: 3.5rem;
    }
    
    
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
