.navigation{
    &__checkbox{
        display: none;
      
    }

    &__button{
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;

        @include respond(tab-port){
            top: 4rem;
            right: 4rem;
        }
    
    
        @include respond(phone){
            top: 3rem;
            right: 3rem;
        }
        
        z-index: 200;
        background-color: $white-color ;
        cursor: pointer;
    }

    &__background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($primary-color-light, $primary-color);
        z-index: 100;
        transition: all .8s cubic-bezier(0.83, 0, 0.17, 1);

        @include respond(tab-port){
            top: 4.5rem;
            right: 4.5rem;
        }
    
    
        @include respond(phone){
            top: 3.5rem;
            right: 3.5rem;
        }
    }

    &__nav{
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 0;
        z-index: 150;
        opacity: 0;
        transition: all .4s;
    }

    &__list{
        list-style: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__item{
        margin: 1rem;
    }

    &__link{
        &:link,
        &:visited{
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            text-decoration: none;
            text-transform: uppercase;
            color: $white-color ;
            padding: 1rem 2rem;
            background-image: linear-gradient(
                120deg,
                transparent 50%,
                $white-color  50%
            );
            background-size: 230%;
            transition: all .8s;
        }

        &:hover,
        &:active{
            background-position: 100%;
            color: $primary-color;
            transform: translateX(3px);
        }
   
    }

    &__checkbox:checked ~ &__background{
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav{
        opacity: 1;
        width: 100%;
    }

    &__icon{
        position: relative;
        margin-top: 3.5rem;
        margin-left: 2rem;
      
        &,
        &::after,
        &::before{
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3 ;
            display: inline-block;
        }

        &::after,
        &::before{
            content: '';
            position: absolute;
            transition: all .4s;
        }

        &::before{
            top: -.8rem;
        }

        &::after{
            top: .8rem;
        }

    }

    &__button:hover  &__icon::before{
        top: -1rem;
    }

    &__button:hover  &__icon::after{
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before{
        top: 0;
        transform: rotate(-135deg);
    }


    &__checkbox:checked + &__button &__icon::after{
        top: 0;
        transform: rotate(135deg);
    }


}