

:root{
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --box-shadow : 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-ligth : 0 2rem 5rem rgba(0,0,0,.06);
    --line : 1px solid var(--color-grey-light-2);
}

$bp-largest : 75em;  //1200px / 16
$bp-large : 68.75em; //1100px
$bp-medium : 56.25em; //900px
$bp-small : 37.5em;
$bp-smallest : 31.25em; //500px


*{
    margin: 0;
    padding: 0;
}

*,
::before,
::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; //define what rem is 10px

    @media only screen and (max-width: $bp-large) {
        font-size: 50%; //define what rem is 10px
        overflow-x: hidden;
    }
}


body{
   background-image: linear-gradient(
       to right bottom,
       var(--color-primary-light),
       var( --color-primary-dark)
   );
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 90vh;
   color : var(--color-grey-dark-2);
   font-family: 'Open Sans', sans-serif;
   font-weight: 100;
   padding: 0;
}

::selection{
    background-color: var(--color-primary);
    color: #fff;
}

body::-webkit-scrollbar {
    width: .5em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(var(--color-grey-dark-2), 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    outline: 1px solid var(--color-grey-dark-2);
  }
