.logo{
    height: 3.25rem;
    margin-left: 2rem;
  
}
.scroll{
        background-color: var(--color-primary-dark) ;
        width: 0;
        height: .1rem;
        z-index: 5;
        position: fixed;
        top: 0;
        left: 0;
        transition: all .3s;

    @media only screen and (max-width : $bp-small ) {
            position: relative;
            margin-right: auto;
            order: 2;
    }
      
}
/*** USER NAV COMPONENT *********************/
.user-nav{
    display: flex;
    align-self: stretch;
    align-items: center;
    z-index: 90000;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        
    }

    & > *:hover{
        background-color: var(--color-grey-light-2);
    }

    &__box-icon{
      position: relative;
    }

    &__icon{
        align-self: center;
        height: 2.25rem;
        width: 2.25rem;
    }

    &__notification{
        background-color: var(--color-primary);
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        position: absolute;
        right: 1.1rem;
        top: 1.5rem;
        color: #ffff;
        font-size: .8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user{
        position: relative;
        background-color: var(--color-grey-light-3);

        @media only screen and (max-width : $bp-small ) {
            height: 8rem;
           }

        &--photo{
            height: 3.75rem;
            border-radius: 50%;
            margin-right: 1rem;
        }

        
        &--name{
            &:link,
            &:visited{
                text-decoration: none;
                color: inherit;
                display: flex;
                align-items: center;
            }

        }
    }

    &__menu{
        position: absolute;
        top:  6.75rem;
        left: 0;
        width: 100%;
        border-radius:  0px 0px 1.4rem 1.4rem;
        z-index: -1;
        transform: translateY(-6.75rem);
        transition: all .5s;

        @media only screen and (max-width : $bp-small ) {
            top: 7.75rem;
        }

       
        &-items{
            list-style: none;
            display: flex;
            flex-direction: column;
            text-align: left;
            

            &--item{
                padding: .75rem 0;
                text-align: center;
                transition: all .4s;

                &:not(:last-child){
                    border-bottom: solid;
                    border-color: var(--color-grey-light-3);
                    border-width: .5px;
                }
            }
        }

        &:target{
            background-color: var(--color-grey-light-3);
            transform: translateY(0px);
        }
    }

    
    &__menu-link{
        &:visited,
        &:link{
            text-decoration: none;
            color: inherit;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
        }
    }

    &__menu-icon{
        fill: var(--color-grey-light-4);
        height: 2rem;
        width: 2rem;
        margin-right: .5rem;
    }
}

/****SIDEBAR COMPONENT*/
.side-nav{
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;
    @media only screen and (max-width : $bp-medium ) {
        display: flex;
        margin: 0;

    }

    &__item{
        position: relative;
        
        &:not(:last-child){
            margin-bottom: .5rem;
        }

        @media only screen and (max-width : $bp-medium ) {
           flex: 1;
           margin-bottom: 0;

           &:not(:last-child){
                margin-bottom: 0;
            }
        }
    

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: var(--color-primary);
            transform: scaleY(0);
            transition: transform .2s, 
                        width .4s  cubic-bezier(1,0,0,1),
                        background-color .1s;
        }

        &:active::before{
            background-color: var(--color-primary-light);

        }

    }

    &__item:hover::before,
    &__item--active::before{
        transform: scaleY(1);
        width: 100%;
    }



    &__link{

        &:link,
        &:visited{
            color: var(--color-grey-light-1);
            text-decoration: none;
            text-transform: uppercase;
            padding: 1.5rem 3rem;
            display: flex;
            align-items: center;
            z-index: 10;
            position: relative;

            @media only screen and (max-width : $bp-medium ) {
                justify-content: center;
                padding: 2rem;

            }

            @media only screen and (max-width : $bp-small ) {
               flex-direction: column;
               padding: 1rem;
             }
        }

        
    }

    &__icon{
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;

        @media only screen and (max-width : $bp-small ) {
            margin-right: 0;
            margin-bottom: .7rem;
            width: 1.5rem;
            height: 1.5rem;
          }


    }
}

/****Legal component ****/
.legal{
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--color-grey-dark-3);

    @media only screen and (max-width : $bp-medium ) {
        display: none;
        
    }

}

/*****Gallery *******/
.gallery{
    display: flex;
    &__photo{
        width: 100%;
        display: block;
    }


    &__item{
        position: relative;
        transition: all .2s;
        overflow: hidden;
    }

    &__item::before{
        content: '';
        background-image: linear-gradient(
            to right bottom,
            var(--color-primary-light),
            var( --color-primary-dark)
        );
        position: absolute;
        bottom: 0;
        left: 40%;
        width: 400%;
        height: 400%;
        transform: rotate(50deg);
        transition: all 5s;
    }

    &__item:hover::before{
       animation: animation 2s ease;
    }

    &__item:hover > &__photo{
        filter: blur(2px);
        z-index: 1;
    }

    &__item:hover > &__caption{
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
    }


    @keyframes animation {
        0%{
            transform: rotate(50deg);
            z-index: 3;
        }

        75%{
            transform: rotate(0deg) translateX(-400px) scale(3);
            z-index: 3;
        }

        100%{
            transform: rotate(50deg) translateX(0px);
            z-index: 3;
        }
    }


    &__caption{
        position: absolute;
        top: 50%;
        left:  50%;
        transform: translateX(-50%) translateY(-20%);
        color: #fff;
        font-size: 1.4rem;
        opacity: 1;
        padding: .6rem;
        opacity: 0;
        transition: all 1s;
        font-weight: bolder;
    }
}

/***Overview**************/
.overview{
    display: flex;
    border-bottom: var(--line);
    align-items: center;


    &__heading{
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

        @media only screen and (max-width : $bp-small ) {
            font-size: 1.5rem;
            padding: 1.25rem 2rem;
        }
    }

    &__starts{
        margin-right: auto;
        display: flex;
        align-items: center;
    }

    &__icon--start,
    &__icon--location{
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__icon--location{
        margin-right: .5rem;
    }

    &__location{
       font-size: 1.2rem;
       display: flex;
       align-items: center;
    }

    &__rating{
        background-color: var(--color-primary);
        color : #fff;
        margin-left: 3rem;
        align-self: stretch;
        padding: 0 2.25rem;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;

        @media only screen and (max-width : $bp-small ) {
            padding: 0 1.5rem;
        }

        &--average{
            font-size: 2.25rem;
            font-weight: 300;

            @media only screen and (max-width : $bp-small ) {
                font-size: 1.8rem;
            }
        }

        &--vote{
            font-size: .8rem;
            text-transform: uppercase;

            @media only screen and (max-width : $bp-small ) {
                font-size: .5rem;
            }
        }
    }


}

/**Btn Inline ****/
.btn-inline{
    border: none;
    color: var( --color-primary);
    font-size: inherit;
    border-bottom: 1px solid  currentColor ;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    transition: all .2s;

    & span{
        margin-left: 3px;
        transition: margin-left .2s;
    }

    &:hover{
        color: var(--color-grey-dark-1);
        span{
            margin-left: 8px
        }
    }


    &:focus{
        outline: none;
        animation: pulsate 1s infinite;

    }
}

@keyframes pulsate{
    0%{
        transform: scale(1);
        box-shadow: none;
    }

    50%{
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: .25);
    }

    100%{
        transform: scale(1);
        box-shadow: none;
    }
}

/***Paragrahp*///
.paragraph:not(:last-of-type){
    margin-bottom: 2rem;
}

/***List*///
.list{
    list-style: none;
    margin: 3rem 0;
    padding: 3rem;
    border-top: var(--line);
    border-bottom: var(--line);
    text-decoration: none;
    display: flex;
    flex-wrap:  wrap;

    &__item{
        flex: 0 0 50%;
        &:not(:last-child){
            margin-bottom: .7rem;
        }

        &::before{
            content: '';
            display: inline-block;
            height: 1rem;
            width: 1rem;
            margin-right: .2rem;

            //New
            background-color: var(--color-primary);
            -webkit-mask-image:  url('../img/chevron-thin-right.svg');
            mask-image:  url('../img/chevron-thin-right.svg');

            -webkit-mask-size: cover;
            mask-size: cover;

            //Older
            //background-image: url('../img/chevron-thin-right.svg');
            //background-size: cover;

        }
    }


}
/***Recomend*///
.recomend{
    font-size: 1.2rem;
    color: var(--color-grey-dark-3);
    display: flex;
    align-items: center;

    &__friends{
        display: flex;
    }
    &__photo{
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;
        
        &:not(:last-child){
            margin-right: -1.5rem;
        }
    }

    &__count{
        margin-right: auto;
    }
}

/***Review*/
.review{
    background-color: #fff;
    box-shadow: var( --shadow-ligth);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width : $bp-medium ) {
        padding: 2rem;
        margin-bottom: 3rem;
    }


    &__text{
        position: relative;
        z-index: 10;
    }

     &__user{
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
    }

    &__photo{
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;

    }

    &__user-box{
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: 6px;
      
    }

    &__user--name{
        text-transform: uppercase;
        font-weight: 800;
        margin-right: auto;
        font-size: 1.2rem;
        margin-bottom: .5rem;
    }


    
    &__user--date{
        font-size: 1rem;
    }

    &__rating{
        color: var( --color-primary);
        font-size: 2rem;
        font-weight: 800;
    }

    &::before{
        content:"\201C";
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        line-height: 1;
        font-size: 20rem;
        color: var(--color-grey-light-2);
        font-family: sans-serif;
        z-index: 1;
    }
}

/***CTA***/
.cta{
    padding: 3.5rem 0;
    text-align: center;

    @media only screen and (max-width : $bp-medium ) {
        padding: 2.5rem 0;
    }

    &__book-now{
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
    }
}

/***Btn***/

.btn{
    cursor: pointer;
    position: relative;
    font-size: 1.5rem;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
    border-radius: 100px;
    overflow: hidden;

    background-image: linear-gradient(to right,
                                    var(--color-primary-light),
                                    var(--color-primary-dark));
    color: #fff;
                                 
    & > * {
        height: 100%;
        width: 100%;
        transition: all .2s;
        display: inline-block;
    }

    &__visible{
        display: inline-block;
        padding: 2rem 7.5rem;
        
    }

    &__invisible{
        position:absolute;
        left: 0;
        top: -100%;
        padding: 2rem;
      
    }

    &:hover{
        background-image: linear-gradient(to left,
        var(--color-primary-light),
        var(--color-primary-dark));
    }
    &:hover  &__visible{
        transform: translateY(100%);
    }

    &:hover  &__invisible{
        top: 0;
    }

    &:focus{
        outline: none;
        animation: pulsate 1s infinite;
    }

}