.container{
    background-color: var(--color-grey-light-2);
    margin: 8rem auto;
    max-width: 120rem;
    box-shadow: var(--box-shadow );
    //Testing purpose
    min-height: 50rem;
    //transform: scale(.8);
    animation: animationContent 2s cubic-bezier(0.280, 0.840, 0.420, 1);
    
    @media only screen and (max-width:$bp-largest) {
        margin: 0 0; 
        max-width: 100%;
        animation: none;
    }
}


@keyframes animationContent{
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-1px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-2px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

.content{
    display: flex;

    @media only screen and (max-width : $bp-medium ) {
        flex-direction: column;
    }

    @media only screen and (max-width : $bp-small ) {
        margin-top: 11rem;
    }

    
  
}

.header{
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    z-index: 200;

    @media only screen and (max-width : $bp-small ) {
      flex-wrap: wrap;
      align-content: space-around;
      height: 11rem;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }

     
}


.sidebar{
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view{
    //background-color: orange;
    flex: 1;
}

.detail{
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color:  var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width : $bp-medium ) {
        padding: 3rem;
    }

    @media only screen and (max-width : $bp-small ) {
        flex-direction: column;
    }

}

.description{
    
    background-color: #ffff;
    box-shadow: var( --shadow-ligth);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    @media only screen and (max-width : $bp-medium ) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width : $bp-small ) {
       margin-right: 0;
       margin-bottom: 2rem;
    }


}

.user-reviews{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

