/**************SEARCH COMPONENT******************/
.search{
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 2rem;
    
    &__form{
        align-items: center;
        align-content: center;
        z-index: 200;
        position: relative;
    }

    @media only screen and (max-width : $bp-small ) {
        order: 1;
        flex: 0 0 100%;
        background-color: var(--color-grey-light-2);
        margin-top: 0;
    }

    &__input{
       font-size: inherit;
       font-family: inherit;
       color: inherit;
       border-radius: 100px;
       border: none;
       background-color: var(--color-grey-light-2);
       padding: .7rem 2rem;
       width: 90%;
       transition: all .3s;
       margin-right: -3.25rem;

       &:focus{
           outline: none;
           background-color: var(--color-grey-light-3);
           width: 100%;
       }

       &::-webkit-input-placeholder{
           color: var(--color-grey-dark-1);
           
       }
    
        &:focus +  &__button{
            background-color: var(--color-grey-light-2);
        }
    }

    &__input:focus ~ &__results{
        visibility: visible;
        opacity: 1;
        height: 100%;

        @media only screen and (max-width : $bp-small ) {
            height: 40vh;
        }
    }



    &__button{
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus{
            outline: none;
        
        }

        &:active{
            transform: translateY(2px);
        }
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        fill: var( --color-grey-dark-3);
    }

    &__results{
        background-color: #fff;
        z-index: 20;
        padding: .5rem 1rem;
        width: 100%;
        border-radius:  0px 0px 1.4rem 1.4rem;
        visibility: hidden;
        height: 0%;
        transition: height .3s;
        opacity: 0;
        box-shadow: var( --shadow-ligth);

        @media only screen and (max-width : $bp-small ) {
            overflow-y: auto;
            height: 0vh;
            position: absolute;
            left: 0;
            background-color: var(  --color-grey-light-3);
        }

    }
    &__items{
        list-style: none;
    }
    &__item{
        @media only screen and (max-width : $bp-small ) {
           font-size: 2rem;
           padding: 1rem;
        }

        &:not(:last-child){
            margin-bottom: .5rem;
          
        }
    }

 
}

