.section-about{
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top : -20vh;

    @include respond(tab-port){
        padding: 20rem 0;
    }
       
}
.section-features{
    margin-top: -20rem;
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom, 
        rgba($primary-color-light, .7),
        rgba($primary-color-dark, .7)
    ),
        url('../img/nat-4.jpg');
    background-size: cover;
    transform: skewY(-7deg);

    //all direct childs
    & > * {
        transform: skewY(7deg);
    }

    @include respond(tab-port){
        padding: 10rem 0;
    }

    
}

.section-tours{
    background-color: $color-gray-light-1;
    padding: 25rem 0 10rem 0;
    margin-top: -10rem;


    @include respond(tab-port){
        padding: 20rem 0 5rem 0;
    }
}

.section-stories{
    position: relative;
    padding: 15rem 0;

    @include respond(tab-port){
        padding: 10rem 0;
    }
}

.section-book{
    padding: 15rem 0;
    @include respond(tab-port){
        padding: 10rem 0;
    }

    background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark);
}

.book{
    background-image:linear-gradient(
            105deg,
            rgba($white-color, .9) 50%,
            transparent 50%),
            url('../img/nat-10.jpg');
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, $alpha: .4);


    @include respond(tab-land){
        background-image:linear-gradient(
            125deg,
            rgba($white-color, .9) 70%,
            transparent 70%),
            url('../img/nat-10.jpg');
    }


    @include respond(tab-port){
        background-image:linear-gradient(
            0deg,
            rgba($white-color, .9) 100%,
            transparent 0%),
            url('../img/nat-10.jpg');

    }

    &__form{
        width: 50%;
        padding: 6rem;

        @include respond(tab-land){
            width: 100%;
    
        }
    }
}