.header{
    grid-column: full-start / col-end 6;

    background-image: linear-gradient(
            rgba($color-secondary, .93),
            rgba($color-secondary, .93)
            ),
        url('../img/hero.jpeg');
    background-size: cover;
    background-position:center;
    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;
    padding: 8rem;
    padding: 4rem;
    
    justify-content: center;

    @media only screen and (max-width : $bp-medium)
    {
        grid-column: 1 / -1;
    }

    @media only screen and (max-width : $bp-small)
    {
      padding: 5rem;
    }

    &__logo{
        height: 3rem;
        justify-self: center ;

    }

    &__seenon-text{
        display: grid;
        font-size: 1.4rem;
        color: $color-grey-light-2;
        grid-template-columns: 1fr max-content 1fr;
        justify-items: center;
        align-items: center;
        grid-column-gap: 1.5rem;
       

        &::before,
        &::after{
            content: '';
            width: 100%;
            height: 1px;
            display: block;
            background-color: currentColor;
            
        }

    }

    &__seenon-logos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 3rem;
        justify-items: center;
        align-items: center;

        img{
            max-height: 1.5rem;
            max-width: 100%;
            filter: brightness(70%);
            
        }
    }

    &__btn{
        align-self: start;
        justify-self: start;
    }
}