.card{
    //funcionality
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side{
        height: 50rem;
        transition: all .8s ease;
        font-size: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

  
        overflow: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        &--front{
            background-color :  $white-color;

        }

        &--back{
            
            transform: rotateY(180deg);

            &-1{
                background-image: linear-gradient(
                    to right bottom,
                    $color-secondary-light,
                    $color-secondary-dark   
                );
            }

            &-2{
                background-image: linear-gradient(
                    to right bottom,
                    $primary-color,
                    $primary-color-dark   
                );
            }

            &-3{
                background-image: linear-gradient(
                    to right bottom,
                    $color-terciary-light,
                    $color-terciary-dark   
                );
            }
        }


    }

    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0deg);
    }

    //Front style
    &__picture{
        height: 23rem;
        background-size: cover;
        background-blend-mode: screen;
        --webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        &--1{
            background-image: linear-gradient(
                to right bottom,
                $color-secondary-light,
                $color-secondary-dark   
            ),
            url('../img/nat-5.jpg');
        }

        &--2{
            background-image: linear-gradient(
                to right bottom,
                $primary-color,
                $primary-color-dark   
            ),
            url('../img/nat-6.jpg');
        }

        &--3{
            background-image: linear-gradient(
                to right bottom,
                $color-terciary-light,
                $color-terciary-dark   
            ),
            url('../img/nat-7.jpg');
        }

    }

    &__heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $white-color;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 75%;
    }

    &__heading-span{
        padding: 1rem 1.5rem;
        --webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--1{
            background-image: linear-gradient(
                to right bottom,
                rgba($color-secondary-light, .85),
                rgba($color-secondary-dark, .85)   
            );

        }

        &--2{
            background-image: linear-gradient(
                to right bottom,
                rgba( $primary-color, .85),
                rgba(  $primary-color-dark , .85)   
            );

        }

        &--3{
            background-image: linear-gradient(
                to right bottom,
                rgba( $color-terciary-light, .85),
                rgba(   $color-terciary-dark  , .85)   
            );

        }
    }
    
    &__details{
        padding: 3rem;
        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child){
                    border-bottom: 1px solid $gray-color-1;
                }

            }
        }
    }

    &__cta{
        position: absolute;
        top : 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box{
        text-align: center;
        margin-bottom: 8rem;
        color: $white-color
    }

    &__price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value{
        font-size: 6rem;
        font-weight: 100;
    }


    //-----------Card Responsive--------------
    @media only screen and (max-width: 56.25em)
    {
        position: relative;
        height: auto;
        background-color: $white-color;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
      
        &__side{
            height: auto;
            font-size: 2rem;
            position: relative;
            width: 100%;
            overflow: hidden;
            border-radius: 3px;
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
            &--front{
                background-color :  $white-color;
            }
    
            &--back{
                transform: rotateY(0deg);
                margin-top: -4rem;
                --webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                

                &-1{
                    background-image: linear-gradient(
                        to right bottom,
                        $color-secondary-light,
                        $color-secondary-dark   
                    );
                }
    
                &-2{
                    background-image: linear-gradient(
                        to right bottom,
                        $primary-color,
                        $primary-color-dark   
                    );
                }
    
                &-3{
                    background-image: linear-gradient(
                        to right bottom,
                        $color-terciary-light,
                        $color-terciary-dark   
                    );
                }
            }
        }

        &:hover &__side--front{
            transform: rotateY(0deg);
        }
        &:hover &__side--back{
            transform: rotateY(0deg);
        }


        &__heading{
            font-size: 2.8rem;
            font-weight: 300;
            text-transform: uppercase;
            color: $white-color;
            position: absolute;
            top: 12rem;
            right: 2rem;
            text-align: right;
            width: 75%;
        }
    
        
        &__details{
            padding: 3rem;
        }
    
        &__cta{
            position: relative;
            top : 0;
            left: 0;
            transform: translate(0, 0);
            width: 100%;
            text-align: center;
            padding: 2rem;
        }

        &__price-box{
            text-align: center;
            margin-bottom: 2rem;
            color: $white-color;
            margin-top: 2rem;
        }
    
        &__price-only{
            font-size: 1.4rem;
            text-transform: uppercase;
        }
    
        &__price-value{
            font-size: 6rem;
            font-weight: 100;
        }

    }
}