.feature-box{
    background-color: rgba($white-color, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: all .2s;

    @include respond(tab-port){
        padding: 1.5rem;
    }
    
    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $primary-color-light, $primary-color-dark);
        -webkit-background-clip: text;
        color: transparent;

        @include respond(tab-port){
            margin-bottom: 0;
        }
    }

    &:hover{
        transform: scale(1.05) translateY(-1.5rem);
        box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
    }

}