.popup{
    background-color: rgba($color-black , $alpha: .8);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 8000;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;

    @supports(backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)){
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black , $alpha: .3);
    }

    &__content{
        background-color: $white-color;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        width: 75%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50% ) scale(.25);
        opacity: 0;
        position: absolute;
        display: table;
        overflow: hidden;
        transition: all .4s .2s;

        @include respond(tab-port){
            width: 95%;
            display: block;
        }
    }


    &__left{
        width: 33.3333333%;
        display: table-cell;

        @include respond(tab-port){
            width: 100%;
            display: flex;
        }
    }

    &__right{
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-port){
            width: 100%;
            display: block;
            padding: 2rem;
        }
    }

    &__img{
        width: 100%;
        display: block;

        @include respond(tab-port){
            width: 50%;
            display: inline;
        }
    }

  

    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $gray-color-1;

        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;


        @include respond(tab-port){
            column-count: 1;
            column-gap: 0;
            column-rule: none;
        }
    }

    &:target{
        opacity: 1;
        visibility: visible;
    }

    &:target &__content{
        transform: translate(-50%,-50% ) scale(1);
        opacity: 1;
    }

    &__close{

        &:link,
        &:visited{
            position: absolute;
            text-decoration: none;
            top: 2.5rem;
            right: 2.5rem;
            color: $gray-color;
            font-size: 3.5rem;
            transition: all .4s;
            line-height: 1;
        }

        &:hover{
            color: $primary-color;
        }
    }
}