.story{
    width: 75%;
    margin: 0 auto;

    @include respond(tab-port){
        width: 100%;
    }

    box-shadow: 0 3rem 6rem rgba($color-black ,.1);
    background-color: rgba($white-color, .6) ;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;


    font-size: $default-font-size;
    transform: skewX(-12deg);

    @include respond(phone){
        transform: skewX(0);
        padding: 4rem;
        padding-left: 7rem;
    }

    & > *{
        
        transform: skewX(12deg);

        @include respond(phone){
            transform: skewX(0);
        }
    }

    &__shape{
        width: 15rem;
        height: 15rem;
        float: left; // it must have with y heigth
        --webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        --webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: skewX(12deg) translateX(-3rem);

        @include respond(phone){
            transform: skewX(0) translateX(-3rem);
        }


        position: relative;
    }

    &__image{
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__caption{
        position: absolute;
        top: 50% ;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $white-color;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__image{
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }

}