
.btn{
    &,
    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;

        //button
        border: none;
        cursor: pointer;
    }

    &--green{
        background-color: $primary-color ;
        color: $white-color;

        &::after{
            background-color: $primary-color
        }
    }

    &--white{
        background-color: $white-color ;
        color: $gray-color;

        &::after{
            background-color: $white-color
        }
    }

   
    &:hover{
        transform: translateY(-.03rem);
        box-shadow: 0 1rem 2rem rgba( $color-black, .2);
        &::after{
            transform: scaleX(1.4) scaleY(1.5);
            opacity: 0;
        }
    }

    &:active, 
    &:focus{
        outline: none;
        transform: translateY(-.01rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated{
        animation : moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text{
    &:link,
    &:visited{
        color : $primary-color ;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $primary-color ;
        padding: 3px;
        font-size : $default-font-size;
        transition: all .2s;
    }

    &:hover{
        background-color: $primary-color ;
        color : $white-color;
        box-shadow: 0 1rem 2rem rgba($color-black, .5);
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 1rem 2rem rgba($color-black, .5);
        transform: translateY(0px);

    }
}