.composition{
    position: relative;

    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .4s;
        outline-offset: 2rem;

        @include respond(tab-port){
            position: relative;
            float: left;
            width: 33.3333333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .4);
        }

        &--p1{
            left : 0;
            top: -2rem;

            @include respond(tab-port){
                top: 0;
                transform: scale(1.2);
            }
        }

        &--p2{
            right : 0;
            top: 2rem;

            @include respond(tab-port){
                top: 0;
                transform: scale(1.5);
                z-index: 200;
            }

            @include respond(phone){
                top: 0;
                left: 0;
                transform: scale(1.5);
                z-index: 200;
            }
        }

        &--p3{
            left : 20%;
            top: 10rem;

            @include respond(tab-port){
                top: 0;
                left: 0;
                transform: scale(1.2);
            }

            @include respond(phone){
                top: 0;
                left: 0;
                transform: scale(1);
            }
        }

        &:hover{
            outline: 1.5rem solid $primary-color;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;


        }
    }

    //composition:
    &:hover &__photo:not(:hover){
        transform: scale(.95);
        z-index: 5
    }
}