@mixin clearfix {
    &::after{
        display: table;
        clear: both;
        content: '';
    }
}


/*
    MEDIA QUERY MANAGER
    phone
    tab-port
    tab-land
    big-desktop
*/

@mixin respond($type) {
    @if $type == phone{
        @media only screen and (max-width: 37.5em)  { //600px 600/16 37.5
            @content
        }
    };

    @if $type == tab-port{
        @media only screen and (max-width: 56.25em) { // 900px 900/16  56.25
            @content
        }
    };

    @if $type == tab-land{
        @media only screen and (max-width: 75em) { //1200px 1200/16 75em 
            @content
        }
    };

    @if $type == big-desktop{
        @media only screen and (min-width: 112em) { //1800px 1800/16 
            @content
        }
    }
}