$primary-color-light : #2998ff;
$primary-color : #9aadec;
$primary-color-dark : #5643fa;

$color-gray-light-1 : #f7f7f7;

$color-secondary-light : #ffb900;
$color-secondary-dark : #ff7730;

$color-terciary-light : #2998ff;
$color-terciary-dark : #5643fa;

$scroll-bar-color : #c117c7;




$gray-color : rgba(56, 55, 55, 0.467);
$gray-color-1 : #eee;

$white-color : #fff;

$color-black : #000;

$color-grey-dark-2 : #999;
$color-grey-dark-3 : #333;


//grid
$grid-with : 114rem;
$gutter-vertical : 8rem;
$gutter-horizontal : 6rem;
$gutter-vertical-small : 6rem; 


//font
$default-font-size: 1.6rem;