<div class="mode-selector">
    <button (click) = "ChangeMode()">
        <svg class="mode-selector__icon">
            <use xlink:href="assets/icons.svg#icon-light-bulb"></use>
        </svg>
    </button>
</div>
