.mode-selector{
    display: flex;
    justify-content: center;

    button{
        border: none;
        padding: 1rem 2rem;
        background-color: transparent;
        outline: none;
        cursor: pointer;
    }

    &__icon{
        fill: darken(#ffff, 10);
        width: 2rem;
        height: 2rem;
        transition: transform .3s;

    }

    button:hover &__icon{
        transform: scale(1.3);
    }


}