.btn{
    border: none;
    outline: none;
    padding: 2rem 3rem;
    border-radius: 3px;
    font-size: 1.5rem;
    transition:  all .2s;

    &:hover{
        transform: scale(1.01) translateY(-2px);
    }

    &--success{
        background-color: var( --input-focus);
        color : #fff

    }
}