/* You can add global styles to this file, and also import other style files */
@import 'buttons';

*,
*::before,
*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0
}

html{
    font-size: 62.5%; //defines what 1  rem is ;
    overflow-x: hidden;

    @media only screen and (max-width:  557px ) {
        font-size: 50%; //defines what 1  rem is ;
  
    }

}

:root{
    --primary-color : #fff;
  
    --primary-color-item : #f4f5ed;
    --primary-color-item-border : #e7e8e1;
  
    --primary-color-item-hover : #bcbdb8;
  
    --input-focus : #38ad1d;
    --input-error : #ff0d00;
  
    --input-file: #f5f0f0;
  
    --black-color : #000000;
  
    --nav-color : #4a4a4a;
  
    --color-letter : #4a4a4a;
  
    --background-input : #f4f5ed; 
  
    --bp-phone : 713px //713px
  }
  

body{
    box-sizing: content-box;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
}


.image-profile{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

