<div class="formControl">
    <input [type]="type" class="formControl__input" id="id" [value]="value" (input) = "onInput($event.target.value)" [disabled]="disabled" [placeholder]="label"> 
    <label class="formControl__label" for="id">{{label}}</label>
    <div class="formControl__message">
        <ng-content></ng-content>
    </div>
</div>
