.formControl{
    position: relative;
    color: var(--color-letter);

    &__input{
        padding: 1rem 2rem;
        border-radius: 5px;
        border: solid var(--primary-color-item-border) 1px;
        outline: none;
        z-index: 3;
        transition: all .2s;
        width: calc(100% - 2 * 2rem);
        background-color: var(--background-input);
    

        &:focus{
            border-bottom: solid var( --input-focus) 1px;
        }

        &:invalid{
            border-bottom: solid var(--input-error) 1px;
        }
    
    }

    &__input:focus +  &__label{
        transform: translateY(-4rem);
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }
   
    &__label{
        position: absolute;
        top: 20px;
        z-index: -1;
        font-size: 1.2rem;
        font-weight: 400;
        opacity: 0;
        visibility: hidden;
        transition: transform .2s;
    }

    &__message{
        margin-top: 2px;
        font-size: 1.2rem;
    }

}