.item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    cursor: pointer;

    &__photo-container{
        flex: 0 0 10%;
        display: flex;
        justify-content: center;
        margin-right: 1rem;
    }
  
    &__photo{
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }

    &__grid{
        display: grid;
        column-gap: .5rem;
        row-gap: 1.5rem;
        flex: 0 0 15%;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        color: var(--color-letter);
        

        p{
            font-size: 1.5rem;
            font-weight: 200;
        }

        h3{
            font-size: 1.8rem;
            font-weight: 300;
        }
   
    }

    &__details{
        flex : 1;
        display: flex;
    }

}

.item--hover{
    animation: bounce 1s;

}

@keyframes bounce{
    0%{
        transform: scale(1) translateX(0) translateY(0);
    }

    20%{
        transform: scale(1.01) translateX(1px) translateY(0);
    }

    40%{
        transform: scale(1) translateX(0) translateY(0);
    }

    60%{
        transform: scale(1.01) translateX(1px) translateY(0);
    }

    80%{
        transform: scale(1) translateX(0) translateY(0);
    }

    100%{
        transform: scale(1) translateX(0) translateY(0);
    }
}