<div [ngClass]="itemClass" (click) = "onClick(item)">
    <div class="item__photo-container">
        <img class="item__photo" [src] = "item.photo"/>
    </div>
    <div class="item__details">
        <div class="item__grid">
            <h3>Nombre </h3>
            <p>{{item.nombre}}</p>
            <h3>Salario </h3>
            <p>{{item.salario}}</p>
            <h3>RFC </h3>
            <p>{{item.rfc}}</p>
            <h3>Salario </h3>
            <p>{{item.salario}}</p>
        </div>
       

    </div>
</div>
