.item__container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-item);
    padding: 2rem 1rem;
    transition: all .4s;
    outline: none;


    &:hover{
        background-color: var(--primary-color-item-hover);
        transform: scale(1.01) translateX(1px) translateY(0);
    }
  
    &:not(:last-child){
        border-bottom: solid var(--primary-color-item-border) .3rem;
        
    }
}
