.layout{
    display: flex;
    flex-direction: column;
}

.nav{
    font-size: 1.5rem;
    background-color:   var(--nav-color);
    padding: 0 2rem;
    height: 10vh;
    display: flex;
    justify-items: center;

    @media only screen and (max-width:  713px ) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
  
    &__items{
        list-style: none;
        display: flex;
        align-items: center;
        flex: 1;
    }

    &__item{
        &:last-child{
            flex : 1;
            margin-left: 50%;

            @media only screen and (max-width:  713px ) {
                margin-left: 30%;  
            }

            @media only screen and (max-width:  341px ) {
                margin-left: 0;  
            }
        }

        

        &:not(:last-child){
            flex : 0 0 10%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;

            @media only screen and (max-width:  713px ) {
                flex: 1;    
            }

        }

        &--animated{
            &::before{
                    content:  '';
                    width: 0%;
                    height: 100%;
                    background-color: darken( #4a4a4a, $amount: 10);
                    position: absolute;
                    left: 0;
                    opacity: 0;
                    transition: width .3s cubic-bezier(1, 0, 0, 1) ;
            }

            &:hover::before{
                width: 100%;
                opacity: 1;
            }
        }

        &--active{
            background-color: darken( #4a4a4a, $amount: 10);
        }
 
    }



       
    &__link{
        &:visited,
        &:link{
            text-decoration: none;
            color: white;
            font-size: 1.8rem;
            position: relative;
        }
    }

}

.container{
    flex: 1;

    @media only screen and (max-width:  713px ) {
       margin-top: 10vh;
    }
}