<div class="layout">
  <nav class="nav">
    <ul class="nav__items"> 
      <li class="nav__item nav__item--animated" routerLinkActive="nav__item--active">
        <a  class="nav__link" routerLink="/items" >Contactos</a>
      </li>
      <li class="nav__item nav__item--animated" routerLinkActive="nav__item--active">
        <a class="nav__link" routerLink="/item" >Agregar</a>
      </li>
  
      <li class="nav__item">
        <app-mode-selector></app-mode-selector>
      </li>
     </ul>
  </nav>
  <div class="container">
    <div [@routeAnimations]="prepareRoute(outlet)" >
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
 </div>

